.desc {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.numberSpinner::-webkit-inner-spin-button,
.numberSpinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
